*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main_bg{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../image/car1.png");
    display: flex;
    /*justify-content: space-between;*/
    flex-direction: column;
    align-items: center;
}
#welcome_div{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
#welcome_div>h1{
    color: black;
    margin-bottom: 15px;
    font-size: 30px;
    font-family: Calibri;

}
#welcome_div>h2{
    color: black;

}
#button_compo{
    margin-top: 35px;
    display:flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
#button{
    background-color: white;
    opacity: 0.5%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    width: 250px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.85;
    font-size: 15px;
    cursor: pointer;
    margin: 20px;
}

#button>a{
    text-decoration: none;
    color: black;
}